@import '~bootstrap/scss/bootstrap';

@font-face {
    font-family: 'Biennale Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../public/fonts/BiennaleRegular.otf') format('opentype');
}

html{
    height: 100%;
    font-family: 'Biennale Regular';
}

body {
    height: 100%;
}